<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        label{
            width: 120px;
            float: left;
            text-align: right;
        }
    </style>
</head>
<body>
<h3>Test database connection</h3>
<h2>Insert</h2>
<div>
    <label>ProductID:</label> <input type="text" id="ProductID"> <br>
    <label>Order time:</label> <input type="text" id="order_time"> <br>
    <label>Payment method:</label> <input type="text" id="mayment_method"> <br>
    <label>Delivery method:</label> <input type="text" id="delivery_method"> <br>
    <label>Price:</label> <input type="text" id="price"> <br>
    <label>Betalt:</label> <input type="radio" value="true" id="betalt"> <br>
    <input type="submit" id="insert">
</div>
<h2>Get</h2>
<div>
    <label>OrderID:</label> <input type="text" id="orderID"> <br>
    <label>ProductID:</label> <input type="text" id="g_ProductID" disabled> <br>
    <label>Order time:</label> <input type="text" id="g_order_time" disabled> <br>
    <label>Payment method:</label> <input type="text" id="g_mayment_method" disabled> <br>
    <label>Delivery method:</label> <input type="text" id="g_delivery_method" disabled> <br>
    <label>Price:</label> <input type="text" id="g_price" disabled> <br>
    <label>Betalt:</label> <input type="text" id="g_betalt" disabled> <br>
    <input type="submit" id="g_insert">
</div>
</body>
</html>