<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<body onload="init()">
    <header>{% block header %}{% endblock %}</header>
    <main>
        {% block content %}{% endblock %}
        <div id="bot">
            What can I help you with?
            <form action="" onsubmit ="return ask()" name="input">
                <input name="question" type="text">
                <!-- or does the button need to be a button type, and I have to remove manually in js?-->
                <button type='submit'>Submit</button>
            </form>
        </div>
    </main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>